<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h3>Contactar</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <form action="">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fas fa-user input-group-text"></i>
          </div>
          <input type="text" class="form-control" placeholder="Nombre" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fas fa-envelope input-group-text"></i>
          </div>
          <input type="email" class="form-control" placeholder="email" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fas fa-pen input-group-text"></i>
          </div>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Write your message"
            class="form-control"
          ></textarea>
        </div>
        <button class="btn btn-primary btn-lg btn-block">
          Enviar Mensaje
        </button>
      </form>
    </div>
  </div>
</div>
