<!-- <div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>
<article class="about">
	<h2>Sobre mí</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus veniam eum natus nisi inventore tempora excepturi
		ex ratione. Nulla aut voluptatem nesciunt fugit autem dolorem omnis veritatis iusto. Laborum, officiis?Lorem ipsum
		dolor sit amet consectetur adipisicing elit. Impedit ratione mollitia, aut recusandae modi quas perferendis alias!
		Maiores quasi modi atque, numquam rem adipisci ipsa obcaecati repudiandae, rerum culpa sit! Lorem, ipsum dolor sit
		amet consectetur adipisicing elit. Repellat necessitatibus dicta officiis, deleniti id recusandae sunt nobis officia
		provident facere inventore dignissimos earum dolorum cupiditate veritatis architecto magni blanditiis iste!
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem necessitatibus unde cupiditate iusto quibusdam
		ducimus, rerum labore aliquid similique dicta voluptate dolore sequi eius magnam molestias quas at quis
		reprehenderit?
	</p>
</article> -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 text-center justify-content-center align-self-center">
			<h1>{{ title }}</h1>
			<h2>{{ subtitle }}</h2>
			<p>{{ email }}</p>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, similique.
			</p>
			<a href="#" class="btn btn-outline-secondary btn-lg text-white">
				Leer Mas
			</a>
		</div>
		<div class="col-md-6">
			<img src="../assets/img/desarrollo-web.jpg" alt="Imagen de desarrollo"
				class="img-fluid d-none d-sm-block " />
		</div>
	</div>
</div>