/* Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src: url("fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src: url("fonts/finger.ttf");
}
body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}
/* el body */
body{
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    background: linear-gradient(rgba(95,114,190,.8), rgba(155,35,234,.7)), url(../img/tegnologia.jpg);
    background-size: cover;
    background-position: center;

}
#page-content {
    flex: 1 0 auto;
  }
/*barra de navegacion header*/
.navbar{
    box-shadow: 2px 1px 3px black;
    display: block;
    opacity: .9;
    text-transform: uppercase;
}
.navbar ul{
    margin-top: 0px;
}
.navbar ul li{
    line-height: 65px;
}
.navbar a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color:rgba(241, 242, 246,1.0);
    transition: all 300ms;
}

.navbar a:hover, .actived{
    background: rgba(0, 0, 0, .8);
    text-decoration: none;
    color: gray;
}
/*Logo*/

#logo{
    display: block;
    font-family: "finger";
    font-size: 40px;
    line-height: 65px;
}
#logo a{
    transition: color 500ms, transform 500ms;
}
header #logo a:hover{
    background: transparent;
    color: black;
    transform: scale(1.50,1.50);
}

/* Pagina de projectos */
#project{    
    list-style: none;
    /* clear: right; */
    display: block;
    float: left;
}
#project img{
   width: 100%;
    height: 178px;
}
/* quitar el resaltado de los links del listado del projectos */
#project a{
    text-decoration: none;
    color: black;
}
#sticky-footer {
    flex-shrink: none;
}
footer{
    background: rgba(48, 51, 107,.8);
    width: 100%;
}
