/* Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src: url("fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src: url("fonts/finger.ttf");
}
body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}
/* el body */
body{

    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

}
/* css de about */
#about{
    padding-top: 10rem;
    padding-bottom: calc(8.45rem - 100px);
}
#about h1{
    font-size: 3rem;
}
#about p{
    font-size: 1.15rem;
}
hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: rgba(48, 51, 107,.8);
}

/* trabjo con flex */
#page-content {
    flex: 1 0 auto;
}

/*barra de navegacion header*/
.navbar{    
    display: block;
    opacity: .9;
    text-transform: uppercase;
}
.navbar ul{
    margin-top: 0px;
}
.navbar ul li{
    line-height: 65px;
}
.navbar a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color:rgba(241, 242, 246,1.0);
    transition: all 300ms;
}

.navbar a:hover, .actived{
    background: rgba(48, 51, 107,.8);
    text-decoration: none;    
    color: rgba(149, 175, 192,1.0);
}

/*Logo*/
#logo{
    display: block;    
}
#logo a:hover{    
    background: transparent;
    transform: scale(1.22,1.18);
}

/* quitar el resaltado de los links del listado del projectos */
#project a{
    text-decoration: none;
    color: black;
}

#sticky-footer {
    flex-shrink: none;
}


/* boton leer mas de about */
#boton-about{   
    border-radius: 20px; 
    border: 0px;
    background: rgba(48, 51, 107,.8);    
}
#boton-about:hover{
    background: rgba(72, 52, 212,1.0);    
}
/* footer */
footer{
    background: rgba(48, 51, 107,.8);
    width: 100%;
}
/* barra social */
.social-icons a {
    display: inline-block;
    height: 2.8rem;
    width: 2.8rem;
    background-color: rgba(48, 51, 107,.8);
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    background-color: rgba(72, 52, 212,1.0);
  }

  #fotodetalles{
      width: 700px;
      height: 300px;
  }

  

/* Pagina de projectos */
#project{    
    list-style: none;
    clear: right;
    display: block;
    float: left;
}
#project img{
   width: 100%;
    height: 250px;
}

/* efectos de proyectos */
  #portfolio .container-fluid {
    max-width: 1920px;
  }
  
  #portfolio .container-fluid .portfolio-box {
    position: relative;
    display: block;
  }
  
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(48, 51, 107,.8);
    transition: opacity 0.25s ease;
    text-align: center;
  }
  
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
  }
  
  #portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
  }
  