<div id="portfolio">
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<ul class="p-0">
				<li *ngFor="let project of projects" class="col-lg-4 col-sm-6 p-0" id="project">
					<!-- <div class="col-lg-4 col-sm-6 p-0"> -->		
					<div class="card border-0 shadow">
						<a [routerLink]="['/proyecto', project._id]" class="portfolio-box">
							<img src="{{ url + 'get-image/' + project.image }}" *ngIf="project.image"
								class="img-fluid" />
	
							<div class="portfolio-box-caption">
								<div class="project-category text-white-50">
									{{ project.name }}
								</div>
								<!-- <h3 class="card-title text-dark mb-0">{{ project.name }}</h3> -->
								<div class="project-name">{{ project.category }}</div>
								<!-- <p class="card-text text-dark">{{ project.category }}</p> -->
							</div>
						</a>
					</div>
					<!-- </div> -->
				</li>
			</ul>
		</div>
	</div>
</div>

