<!-- <div class="container">
	<h2>Projectos</h2>
	<ul>
	<li *ngFor="let project of projects" class="project">
		<a [routerLink]="['/proyecto', project._id]">
		<div class="image">
			<img src="{{url+'get-image/'+project.image}}" *ngIf="project.image">
		</div>
		<h3>{{project.name}}</h3>
		<p>{{project.category}}</p>
		</a>
	</li>
	</ul>
</div> -->
<div class="container">
	<div class="row">
		<ul>
			<li *ngFor="let project of projects" class="col-xl-3 col-md-6 mb-4" id="project">
				<!-- <div class="col-xl-3 col-md-6 mb-4"> -->
					<div class="card border-0 shadow">
						<a [routerLink]="['/proyecto', project._id]">
							<img src="{{ url + 'get-image/' + project.image }}" *ngIf="project.image"
								class="card-img-top" />

							<div class="card-body text-center">
								<h3 class="card-title text-dark mb-0">{{ project.name }}</h3>
								<div class="card-text text-black-50">{{ project.category }}</div>
								<!-- <p class="card-text text-dark">{{ project.category }}</p> -->
							</div>
						</a>
					</div>
				<!-- </div> -->
			</li>
		</ul>
	</div>
</div>
